body{
    font-size: 1rem;
    font-family: $content-font;
        @media (max-width: 768px) {
            font-size: calc(0.80rem + 1vmin)
        }
}

h1,h2,h3,h4,h5,h6 {
    color:$dark-green;
    font-family: $title-font;
}

h1 {
    text-align: center;
    font-size: 3rem;
        @media (max-width: 768px) {
            font-size: calc(3rem + 1vmin)
        }
}

h2 {
    font-size: 2rem;
        @media (max-width: 768px) {
            font-size: calc(2rem + 1vmin)
        }
}

ul {
    li {
    color: $dark-fucsia;
    }   
}

p {
    color: $dark-text;
}

a {
    @include text-link;
        &:hover{
            letter-spacing: 0;
        }
}

hr{
    border-top: 1px solid rgb(13, 102, 101);
}

.btn-primary{
    background-color:$dark-green;
    border-color:$dark-green;
    text-decoration: none;
    
    &:hover{
        background-color: $dark-fucsia !important;
        color:$light-text !important;
        border-color:$dark-fucsia !important;
    }
    &:focus,&:active{
        background-color: $dark-fucsia !important;
        color:$light-text !important;
        border-color:$dark-fucsia !important;
        box-shadow: 0 0 0.2rem $peach;
    }
}

.btn-link {
    color: $dark-green;
    &:hover{
        color: $dark-fucsia;
        text-decoration: none;
    }
}

.dropdown-item {
    &:active{
    background-color: $background-light-pink;
    }
}
/* Header styles   */

header {
    font-family: 'Oswald', sans-serif;
    width:100%;
    border-bottom: 1px solid #104845;
    background: linear-gradient(90deg, #16A5A3 0%, #DA2864 100%);
    font-size: 1.3rem;
    line-height: 1.5;
}

header a {
    @include text-link;
}

.navbar-dark{
    .navbar-nav {
        .nav-link {
            color:white;
        }
    }
}

@media only screen and (max-width:390px){
    header {
        >nav {
            >a {
                width: 100%;
                text-align: center;
            }
        }
    }
}


/* Footer Styles*/
footer {
    text-align: left;
    background-color: $background-green;
    width: 100%;
        div.footerPrimary{
            padding: 1rem;
            div{
                h3{
                    color:$dark-text;
                }
                a,span{
                    text-decoration: none;
                    .icon-whatsapp, .icon-instagram{
                        font-size: 2rem;
                        color: $light-text;
                        &:hover{
                            color:$dark-fucsia;
                            letter-spacing: 0px
                        }
                    }
                    &:hover{
                        letter-spacing: 0;
                    }
                }
                ul li{
                    list-style-type: none;
                    span, a {
                        @include text-link;
                        color:$dark-text;
                        &:hover{
                            color:$dark-green;
                        }
                    }
                }
            }
        }
        h4{
            color:$dark-text;
        }
        .footerSecondary {
            background-color: $dark-green;
                p{
                    color: $light-text;
                    margin-bottom:0;
                }
        }
}