//Colores

//colores de fondo
$background-light-pink:#fef8fa;
$background-light-blue:#F0FCFC;
$background-medium-pink:#EB6393;
$background-green: #16A5A3;
$peach:rgb(255, 189, 134);

//colores para titulos, texto y botones
$dark-green: #0D6665;
$dark-fucsia:#DA2864;
$dark-text: black;
$light-text:white;

//Fuentes

$title-font:'Raleway', sans-serif, Arial, Helvetica, sans-serif;
$content-font:'Oswald', sans-serif;