/* Index Styles*/
#heroIndex {
    width: 100%;
    background-color:#ffeadb;
    .carousel-caption {
        bottom:40%;
        @media (max-width:362px) {
            bottom:30%;
        }
        h1{
            color: $light-text;
        }
    }
}

.section{
    height:50%;
    padding: 30px 30px;
    .section__title{
        text-align: center;
        margin-bottom: 2rem;
    }
    .btn-primary{
        width: fit-content;
        border-radius:5px;
    }
    .section__div {
        .section__img{
            width:240px;
            height:290px;
            border-radius:5px;
        }
        .section__text{
            padding: 2rem;
            text-align: justify;
            
        }
        .section__button{
            display: block;
            margin: 1rem 2rem 2rem 1rem;
        }
    }    
}

#prendasIndex{
    background-color: $dark-fucsia;
    padding: 30px 30px;
    h2 {
        text-align: center;
        margin-bottom: 2rem;
        color:$light-text;
    }
    .card-title {
        font-size:1.5rem;
        font-weight: bold;
    }
    .card {
    height:100%;
    }
    
    .card-img{
        object-fit: cover;
        height: 100%;
    }
    button {
        position: absolute;
        bottom: 15px;
    }
}