/* Tienda styles */

#tiendaPage section h2, #tiendaPage h1 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

#topsTienda, #calzasTienda {
    display: flex;
    justify-content: space-evenly;
}

#tiendaPage main:nth-child(3) {

margin-bottom: 2rem;

}

#topsTienda .list-group-item:hover, #calzasTienda .list-group-item:hover{
    background-color: #104845;
    color:white;
    border-color:#104845;
    cursor:pointer;
}

#tiendaPage{
    .card {
        margin: 1rem;
        img {
            min-height: 341.31px;
        }
    }
}

p.card-text {
    margin:0;
}